<div id="<%= dom_id teacher %>">
  <p>
    <strong>Name:</strong>
    <%= teacher.name %>
  </p>

  <p>
    <strong>Courses:</strong>
    <% if teacher.courses.any? %>
      <ul>
        <% teacher.courses.each do |course| %>
          <li><%= link_to course.title, course %></li>
        <% end %>
      </ul>
    <% else %>
      <em>No courses assigned</em>
    <% end %>
  </p>
</div>
